# URL de tu proyecto de Supabase (ej. https://xxxxxxxxxxxxxxxxxxxx.supabase.co)
VITE_SUPABASE_URL=your_supabase_project_url

# Anon Key pública de tu proyecto de Supabase
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
